env                  = "env"
cf_zone_name         = "cf_zone_name"
cf_api_token         = "cf_token"
cf_account_id        = "cf_account_id"
hostname             = "cloud"
aws_origin_address   = "<eks-envoy-gateway-elb-hostname>"
azure_origin_address = "<aks-envoy-gateway-ip>"
